html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    width: 100%;
}
#filter-container {
    position: absolute;
    color: white;
    background-color: black;
    padding: 5px;
    text-align: left;
    line-height: 30px;
    height:100%;
    width:250px;

}
.list-wrap {
    padding: 2px 5px;
}
.list-wrap:hover {
    background-color: #6866bb;
    cursor: pointer;
}
#input {
    height: 30px;
    width: 95%;
    font-size: 20px;
}
.filter-list {
    list-style-type: none;
    padding-left: 0;
}
#map {
    height: 100%;
    left:250px;
}