html, body { height:100%;margin: 0; padding: 0;  }
.container{

	height:100%;

	width:100%;
}
#filter-container{

	width:300px;
	background-color: black;
	color: white;
	height:100%;
} 

.filter-list{


	list-style-type: none;

}

#map {
	height:100%;
 display:block;


 }

